<div class="card">
    <h3 class="card-header">Alarm list</h3>
    <div class="card-block">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"
                ng-repeat="alarm in vm.alarms | orderBy:'-time'">

                <div class="list-group-item-heading">{{alarm.time | date:'short'}}</div>
                <h4 class="list-group-item-text">
                    {{alarm.source.name}}
                </h4>
                <p class="list-group-item-text">
                    <em>{{alarm.text}}</em>
                </p>
                <p class="list-group-item-text">
                    {{alarm.severity}}
                </p>
            </li>
        </ul>
    </div>
</div>
